/*medios*/

/*general*/

body{
    background-color: #f1f1f1;
    font-family: 'Times New Roman', Times, serif;
    margin:0px;
    padding:0px;
    font-size: 20px;
}

/*cabecera*/

.box_header {
    margin:auto;
    width: 80%;
    background-size:cover;
    display: grid;
    background-image: url(../img/cabecero.jpg);
    background-position: right;
}

.nom_empresa{
    color:#7c4426;
    font-family: cursive;
    font-size: 3em;
    margin-top:20px;
}

.box_nav{
    padding:2px;
    margin:auto;
}


.list{
    list-style: none;
    display: inline;
    margin:0 20px;
}

.links{
    text-decoration: none;  
    color:#b16035;
    font-size: 1.5em;

}
.links:hover{
    color: #b160353b;
}

/*contenido*/

.box_section{
    display:grid;
    grid-template-columns:40% auto auto;
    background-color:#f1f1f1;
    margin:auto;
    width:80%;
    
}

@media (max-width:900px){
    .box_section{
    display:inline;   
}}

.b1{
    margin:25px;
    text-align:center;
    font-size: 1em;
    padding:20px
}

.img1{
    grid-column: 1/2;
    place-content: center;
}

.box_article1{
    grid-column: 2/4;
    place-content: center;
}

.box_article2{
    grid-column:1/3;
    place-content: center;

}

.img2{
    grid-column:3/4;
    place-content: center;

}

.img{
    width:100%;
    border-radius:20px;
    box-shadow: 30px 10px 50px grey;

}


/*footer*/

.footer{
    width:80%;
    margin:auto;
    grid-column:1/4;
    background-color: #7c44264f; 
    color: #FFFFFF; 
    padding: 20px; 
    text-align: center;
    color:black;
    font-size: 0.5em;
}

