body{
    margin:0px;
    padding:0px;
    font-family: 'Times New Roman', Times, serif;
    font-size:24px;
    background:wheat;
}

.container{
    width: 800px;
    display:grid;
    grid-template-areas: 'cabecera cabecera''navegador navegador''footer footer';
}

.cabecera{
    grid-area:cabecera;
}

.navegador{
    grid-area:navegador;
}

.footer{
    grid-area:footer;
}
